
body {
  /* background: #D3BCC0; */
  background: #f5f0f0;
  margin: 0;
  padding: 30px;
  color:#0B0C2D;
  font-family: helvetica;
}

h1 {
  color: #69306D;
  text-decoration: underline;
}

h2 {
  color: #A5668B;
}

hr {
  border-top: 3px solid #69306D;
}

a {
  color: #69306D;
}

img {
	border: 3px solid #69306D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inline-list {
    display: inline;
    border-right: 2px solid #0B0C2D;
    padding-right: 7px;
} 

.job-list {
    margin-top: 20px;
    list-style-type: square;
    font-size: 125%;
} 

li:last-child {
    border-right: none;
}

.inline-stuff {
  display: inline;
  margin-right: 50px;
  margin-bottom: 200px;
}

.portfolio-indent {
  margin-left: 50px;
}